<h1>Shopping List:</h1>

<div class="shopping_list">
    <h2>Recipes:</h2>

    <% recipes.each do |recipe| %>
        <p><%= recipe%></p>
    <% end %>
    
    <form action="/home" method="get">
        <button id="btn_back">Back</button>
    </form>
</div>